<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle ALB Cognito Authentication Headers
    SetEnvIf X-Amzn-Oidc-Data "(.*)" HTTP_X_AMZN_OIDC_DATA=$1
    SetEnvIf X-Amzn-Oidc-Identity "(.*)" HTTP_X_AMZN_OIDC_IDENTITY=$1
    SetEnvIf X-Amzn-Oidc-AcessToken "(.*)" HTTP_X_AMZN_OIDC_ACCESSTOKEN=$1

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
